<script src=https://code.highcharts.com/highcharts.js></script>

<div class="container" style="display: flex; justify-content: space-between; margin: 0 auto;">

    <div id="graph_info"
         style="width: 600px; height: 400px;">
    </div>

    <div id="graph_info1"
         style="width: 600px; height: 400px;">
    </div>

</div>



<script>
    Highcharts.chart('graph_info', {
        xAxis: {
            categories: []
        },

        plotOptions: {
            series: {
                cursor: 'pointer',
                point: {
                    events: {
                        click: function () {


                                Highcharts.chart('graph_info1', {
                                    chart: {
                                        type: 'line',
                                        width: 500,
                                    },
                                    title: {
                                        text: 'Traveling salesman problem'
                                    },
                                    xAxis: {
                                        min: 0,
                                        max: 100,
                                        title: {
                                            text: 'Mutations'
                                        },
                                    },

                                    yAxis: {
                                        min: 0,

                                        title: {
                                            text: 'Scope'
                                        }
                                    },
                                    tooltip: {
                                        formatter: function () {
                                            return this.y;
                                        }
                                    },
                                    series: [
                                        {
                                            name: 'Detailed schedule',
                                            data: this.options.key
                                        }
                                    ]
                                });

                        }
                    }
                }
            }
        },

        series: [{
            name: 'Roulette',
            data: [{
                y: [[${roulette[0].pos}]],
                key: [[${roulette[0].generation}]]
            }, {
                y: [[${roulette[1].pos}]],
                key: [[${roulette[1].generation}]]
            }, {
                y: [[${roulette[2].pos}]],
                key: [[${roulette[2].generation}]]
            }, {
                y: [[${roulette[3].pos}]],
                key: [[${roulette[3].generation}]]
            }, {
                y: [[${roulette[4].pos}]],
                key: [[${roulette[4].generation}]]
            }, {
                y: [[${roulette[5].pos}]],
                key: [[${roulette[5].generation}]]
            },{
                y: [[${roulette[6].pos}]],
                key: [[${roulette[6].generation}]]
            },{
                y: [[${roulette[7].pos}]],
                key: [[${roulette[7].generation}]]
            },{
                y: [[${roulette[8].pos}]],
                key: [[${roulette[8].generation}]]
            },{
                y: [[${roulette[9].pos}]],
                key: [[${roulette[9].generation}]]
            }]

        },
            {
                name: 'Tournament',
                data: [{
                    y: [[${tournament[0].pos}]],
                    key: [[${tournament[0].generation}]]
                }, {
                    y: [[${tournament[1].pos}]],
                    key: [[${tournament[1].generation}]]
                }, {
                    y: [[${tournament[2].pos}]],
                    key: [[${tournament[2].generation}]]
                }, {
                    y: [[${tournament[3].pos}]],
                    key: [[${tournament[3].generation}]]
                }, {
                    y: [[${tournament[4].pos}]],
                    key: [[${tournament[4].generation}]]
                }, {
                    y: [[${tournament[5].pos}]],
                    key: [[${tournament[5].generation}]]
                },{
                    y: [[${tournament[6].pos}]],
                    key: [[${tournament[6].generation}]]
                },{
                    y: [[${tournament[7].pos}]],
                    key: [[${tournament[7].generation}]]
                },{
                    y: [[${tournament[8].pos}]],
                    key: [[${tournament[8].generation}]]
                },{
                    y: [[${tournament[9].pos}]],
                    key: [[${tournament[9].generation}]]
                }]

            }
        ]
    });
</script>