<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h2 align="center">Data Graph</h2>

<div class="container" style="display: flex; justify-content: space-between; margin: 0 auto;">

    <div id="graph_info"
         style="width: 500px; height: 400px;">
    </div>

    <div id="graph_info1"
         style="width: 500px; height: 400px;">
    </div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script th:inline="javascript">
    $(function () {
        let chartData = [];
        for (let i = 0; i < 400; i++) {
            chartData.push([i, 0.01 * i]);
        }

        // var obj =  {genomeLoop};

        // var obj = "${genomeLoop}";
        // console.log(obj);



        let options = {
            chart: {
                type: 'line',
                renderTo: 'graph_info',
            },
            title: {
                text: 'Traveling salesman problem'
            },
            xAxis: {
                min: 0,
                max: 10,
                title: {
                    text: 'adwawd'
                },
            },

            yAxis: {
                min: 0,
                max: 500,
                title: {
                    text: 'Scope'
                }
            },

            plotOptions: {
                series: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function () {

                                    let chart = $('#graph_info').highcharts(),
                                        selectedPoints = chart.getSelectedPoints();
                                    // alert('You selected ' + selectedPoints.length + ' points');

                                    document.getElementById('#graph_info1').innerHTML = $(function () {

                                        Highcharts.chart('graph_info1', {
                                            chart: {
                                                type: 'line',
                                                width: 500,
                                            },
                                            title: {
                                                text: 'Traveling salesman problem'
                                            },
                                            xAxis: {
                                                min: 0,
                                                max: 10,
                                                title: {
                                                    text: 'adwawds'
                                                },
                                            },

                                            yAxis: {
                                                min: 0,
                                                max: 500,
                                                title: {
                                                    text: 'Scope'
                                                }
                                            },
                                            tooltip: {
                                                formatter: function () {
                                                    return this.y;
                                                }
                                            },
                                            series: [
                                                {
                                                    name: 'select',
                                                    data: [[${genomeLoop.generation}]]
                                                }
                                            ]
                                        });
                                    });
                            }
                        }
                    }
                }
            },


            tooltip: {
                formatter: function () {
                    return this.y;
                }
            },
            series: [
                {
                    name: 'Tour',
                    data: [[${genomeLoops}]],
                },
                {
                    name: 'genomeLoop',
                    data: [[${genomeLoop.generation}]],
                }
            ]
        };

        options.series[0].data = chartData;

        new Highcharts.Chart(options);

    });

</script>

</body>
<head>
    <meta charset="ISO-8859-1"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
    <title>smp</title>

</head>
</html>
