<script src=https://code.highcharts.com/highcharts.js></script>
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/maps/modules/accessibility.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/maps/modules/map.js"></script>
<script src="http://code.highcharts.com/mapdata/custom/world.js"></script>


<div class="container" style="display: flex; justify-content: space-between; margin: 0 auto;">

    <div id="graph_info"
         style="width: 600px; height: 400px;">
    </div>

    <div id="graph_info1"
         style="width: 600px; height: 400px;">
    </div>

</div>

<div class="container" style="display: flex; justify-content: space-between; margin: 0 auto;">
    <div id="graph_info3"
         style="width: 1200px; height: 400px;">
    </div>
</div>

<div class="container" style="display: flex; justify-content: space-between; margin: 0 auto;">
    <div id="timeGraph"
         style="width: 1200px; height: 400px;">
    </div>
</div>


<figure class="highcharts-figure">
    <div id="container" style="width: 1200px; height: 900px;"></div>
    <p class="highcharts-description">
        Map showing how a TopoJSON map source is handled and how the built-in
        orthographic projection is used.
    </p>
</figure>

<script>
    Highcharts.chart('graph_info', {
        title: {
            text: 'Fused graph'
        },
        xAxis: {
            categories: []
        },

        plotOptions: {
            series: {
                cursor: 'pointer',
                point: {
                    events: {
                        click: function () {


                            Highcharts.chart('graph_info1', {
                                chart: {
                                    type: 'line',
                                    width: 500,
                                },
                                title: {
                                    text: 'Detailed graph'
                                },
                                xAxis: {
                                    min: 0,
                                    max: 100,
                                    title: {
                                        text: 'Mutations'
                                    },
                                },

                                yAxis: {
                                    min: 0,

                                    title: {
                                        text: 'Scope'
                                    }
                                },
                                tooltip: {
                                    formatter: function () {
                                        return this.y;
                                    }
                                },
                                series: [
                                    {
                                        name: 'Detailed schedule',
                                        data: this.options.key
                                    }
                                ]
                            });

                        }
                    }
                }
            }
        },

        series: [{
            name: 'Tournament',
            data: [{
                y: [[${tournament[0].pos}]],
                key: [[${tournament[0].generation}]],
                coordinates: [[${tournament[0].coordinates}]]
            }, {
                y: [[${tournament[1].pos}]],
                key: [[${tournament[1].generation}]],
            }, {
                y: [[${tournament[2].pos}]],
                key: [[${tournament[2].generation}]],
            }, {
                y: [[${tournament[3].pos}]],
                key: [[${tournament[3].generation}]],

            }, {
                y: [[${tournament[4].pos}]],
                key: [[${tournament[4].generation}]],
            }, {
                y: [[${tournament[5].pos}]],
                key: [[${tournament[5].generation}]],
            }, {
                y: [[${tournament[6].pos}]],
                key: [[${tournament[6].generation}]],
            }, {
                y: [[${tournament[7].pos}]],
                key: [[${tournament[7].generation}]],
            }, {
                y: [[${tournament[8].pos}]],
                key: [[${tournament[8].generation}]],
            }, {
                y: [[${tournament[9].pos}]],
                key: [[${tournament[9].generation}]],
            }]
        }
    ]
    })
    ;


    Highcharts.chart('timeGraph', {
        // chart: {
        //     type: 'line',
        //     width: 500,
        // },
        title: {
            text: 'Algorhytm time'
        },
        xAxis: {
            title: {
                text: 'Values'
            },
        },

        yAxis: {
            min: 0,

            title: {
                text: 'Millis'
            }
        },
        tooltip: {
            formatter: function () {
                return this.y;
            }
        },
        series: [
            {
                name: 'Roulette Time',
                data: [[${rouletteTime}]]
            }
        ]
    });



    Highcharts.chart('graph_info3', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Histogram using a column chart'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                'From ' + [[${distancesFrom[0]}]] + ' to ' + [[${distancesTo[0]}]],
                'From ' + [[${distancesFrom[1]}]] + ' to ' + [[${distancesTo[1]}]],
                'From ' + [[${distancesFrom[2]}]] + ' to ' + [[${distancesTo[2]}]],
                'From ' + [[${distancesFrom[3]}]] + ' to ' + [[${distancesTo[3]}]],
                'From ' + [[${distancesFrom[4]}]] + ' to ' + [[${distancesTo[4]}]],
                'From ' + [[${distancesFrom[5]}]] + ' to ' + [[${distancesTo[5]}]],
                'From ' + [[${distancesFrom[6]}]] + ' to ' + [[${distancesTo[6]}]],
                'From ' + [[${distancesFrom[7]}]] + ' to ' + [[${distancesTo[7]}]]
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            }
        },
        tooltip: {
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0,
                borderWidth: 0.5,
                groupPadding: 0,
                shadow: true
            }
        },
        series: [{
            data: [[${values}]]

        }]
    });

</script>
